sudo: false

language: node_js

node_js:
  - "0.10.36"

before_install:
  - cat .gitmodules
#  - sed -i 's/git@github.com:/https:\/\/github.com\//' .gitmodules
#  - git submodule update --init --recursive
  - "curl https://install.meteor.com | /bin/sh"
  - "npm install -g spacejam"
  - export PATH="$HOME/.meteor:$PATH"

script: "bin/travis-test.sh"
